.menu{
    background-color:rgb(240, 0, 0);
    color: rgb(0, 0, 0);
    border: none;
    height:100px;
    width: auto;
}

/* .button-menu{
    border:none;
    text-align:center;
    width:auto;
}

.link-menu{
    color: white;
    border-style: solid;
    border-radius: 3px;
    text-decoration: none;
}

.button-shopping-cart{
    height:50px;
    width:50px;
} */