button{
    background-color:rgb(0, 0, 0);
    color: white;
    border: none;
    height:36px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
}

a{
    color: white;
    border: none;
    height:36px;
    width: 100px;
    border-radius: 3px;
    text-decoration: none;
}
header{
    background-color: wheat;
}

.Carrito{
    height: 25px;
    width: 25px
}