.menu{
    background-color:rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    border: none;
    height:100px;
    width: auto;
}

/* .button-menu{
    border:none;
    text-align:center;
    width:auto;
}

.link-menu{
    color: white;
    border-style: solid;
    border-radius: 3px;
    text-decoration: none;
}

.button-shopping-cart{
    height:50px;
    width:50px;
} 

Estas clases Todavia tienen errores :(
*/

.S_sunset{
  max-width: 100%;
  height: auto;
}

.w_title{
  width: 100%;
  height: 250px;
  text-align: center;
  font-size: 150px;
  font-weight: normal;
}