<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UFT-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/style_project.css">
        <title>Vibe&Co</title>
    </head>
    <body>
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="../views/the_newest.html" class="button-menu">Lo Nuevo</a></li>
                    <li><a href="../views/section_men.html">Hombres</a></li>
                    <li><a href="../views/section_women.html">Mujeres</a></li>
                    <li><a href="../views/section_kids.html">Niños y Niñas</a></li>
                    <li><a href="../views/section_offers.html">Ofertas</a></li>
                    <!-- <li><a href="../views/shopping_cart_view.html"><img src="../sources/icons/Carrito de compras.png" class="Carrito" alt="Carrito de compras"></a></li> -->
                </ul>
            </nav>
        </header>
        <main>
            <img src ="../sources/img/Sky_Sunset.jpg" class="S_sunset">
            <h1 class="w_title">Wear The Vibe.</h1>
            <img src ="../sources/Sky Sunset.jpg">
            <a href=""><img src ="../sources/RopaVibe/Camisas/VibeFlightClubA.png"></a>
            <br><button>Comprar</button></br>
            <h2>Nuestros Objetivos</h2>
            <ol class="list">
                <li>Crear prendas que reflejen quién eres, no solo cómo te ves.</li>
                <li>Convertir tu estilo en una forma de expresión auténtica.</li>
                <li>Diseñar ropa quie conecte con tu vibra y tu personalidad.</li>
                <li>Romper lo común y vestir lo extraordinario.</li>
                <li>Hacer que cada outfit cuente una historia.</li>
                <li>Impulsar la identidad de cada persona a través de diseños con carácter y propósito.</li>
                <li>Crear piezas que inspiren confianza, actitud y autenticidad.</li>
                <li>Transformar la ropa en una extensión de tu esencia.</li>
            </ol>
            <footer><img src="../sources/Vibe and Co.jpeg">&copy;2026 Vibe&Co. Todos los derechos reservados.</footer>
        </main>
    </body>
</html>