<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UFT-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <title>Vibe&Co</title>
    </head>
    <body>
        <header>
            <button>Lo Nuevo</button>
            <button>Hombres</button>
            <button>Mujeres</button>
            <button>Niños</button>
            <button>Niñas</button>
            <button>Ofertas</button>
            <button>
                <img src="../sources/Carrito de compras.png">
            </button>
            <div>
            <a href=""><img src="../sources/Carrito de compras.png" class=""></a>
            </div>
        </header>
        <main>
            <img src ="../sources/Vibe and Co.jpeg  ">
            <h1>Wear The Vibe</h1>
            <img src ="../sources/Sky Sunset.jpg">
            <a href=""><img src ="../sources/Camisas/VibeFlightClubA.png"></a>
            <br><button>Comprar</button></br>
            <h2>Nuestros Objetivos</h2>
            <ol>
                <li>Crear prendas que reflejen quién eres, no solo cómo te ves.</li>
                <li>Convertir tu estilo en una forma de expresión auténtica.</li>
                <li>Diseñar ropa quie conecte con tu vibra y tu personalidad.</li>
                <li>Romper lo común y vestir lo extraordinario.</li>
                <li>Hacer que cada outfit cuente una historia.</li>
                <li>Impulsar la identidad de cada persona a través de diseños con carácter y propósito.</li>
                <li>Crear piezas que inspiren confianza, actitud y autenticidad.</li>
                <li>Transformar la ropa en una extensión de tu esencia.</li>
            </ol>
        </main>