<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UFT-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../sources/Logos/Logo_icon_Vibe_Co.png" type="image/png">
        <link rel="stylesheet" href="../style/style_main.css">
        <title>Vibe&Co</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="../sources/Logos/Logo_icon_Vibe_Co.png" alt="Logo">
            </div>
            <a href="../views/the_newest.html" class="LoNuevo">LO NUEVO</a>
            <a href="../views/section_men.html" class="Hombres">HOMBRES</a>
            <a href="../views/section_women.html"class="Mujeres">MUJERES</a>
            <a href="../views/section_kids.html" class="NiñosyNiñas">NIÑOS Y NIÑAS</a>
            <a href="../views/section_offers.html" class="Ofertas">OFERTAS</a>
            <a href="../views/shopping_cart_view.html"><img src="../sources/icons/Carrito de compras.png" class="Carrito" alt="Carrito de compras"></a>

        </header>
        <main>

            <img src ="../sources/img/Sky_Sunset.jpg" class="Sol">

            <div class="Wear">
                <h1>Wear The Vibe</h1>
            </div>
            <section class="productos">
                <div class="producto">
                    <a href=""><img src="../sources/RopaVibe/Playera negra lisa.png"></a>
                </div>

                <div class="producto">
                    <a href=""><img src="../sources/RopaVibe/Playera beige lisa.png"></a>
                </div>

                <div class="producto">
                    <a href=""><img src="../sources/RopaVibe/Playera azul lisa.png"></a>
                </div>

                <div class="producto">
                    <a href=""><img src="../sources/RopaVibe/Playera verde lisa.png"></a>
                </div>
                
                <div class="producto">
                    <a href=""><img src="../sources/RopaVibe/Player roja lisa.png"></a>
                </div>

            </section>
            <h2>Nuestros Objetivos</h2>
            <ol class="lista">
                <li>Crear prendas que reflejen quién eres, no solo cómo te ves.</li>
                <li>Convertir tu estilo en una forma de expresión auténtica.</li>
                <li>Diseñar ropa quie conecte con tu vibra y tu personalidad.</li>
                <li>Romper lo común y vestir lo extraordinario.</li>
                <li>Hacer que cada outfit cuente una historia.</li>
                <li>Impulsar la identidad de cada persona a través de diseños con carácter y propósito.</li>
                <li>Crear piezas que inspiren confianza, actitud y autenticidad.</li>
                <li>Transformar la ropa en una extensión de tu esencia.</li>
            </ol>
        </main>
        <footer class="Pie">

            <div class="info">


                <div class="columnas">
                    <h3>Colecciones</h3>
                    <a href="">Mujer</a>
                    <a href="">Hombre</a>
                    <a href="">Niños</a>
                    <a href="">Home</a>
                    <a href="">Beauty</a>
                    <a href="">Tarjetas de regalo</a>
                </div>


                <div class="columnas">
                    <h3>Información Corporativa</h3>
                    <a href="">Trabajar en Vibe&Co</a>
                    <a href="">Acerca del grupo</a>
                    <a href="">Sostenibilidad</a>
                    <a href="">Prensa</a>
                    <a href="">Relación con inversionistas</a>
                    <a href="">Política empresarial</a>
                </div>


                <div class="columnas">
                    <h3>Ayuda</h3>
                    <a href="">Atención al cliente</a>
                    <a href="">Mi cuenta</a>
                    <a href="">Nuestras tiendas</a>
                    <a href="">Términos y condiciones</a>
                    <a href="">Contacto</a>
                    <a href="">Compras seguras</a>
                </div>
            </div>


            <div class="piedepagina">
                <img src="../sources/Logos/Logo_icon_Vibe_Co.png">
                <p>© 2026 Vibe&Co. Todos los derechos reservados.</p>
            </div>

        </footer>
    </body>
</html>