<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="pruebastyle.css">
        <title>Vibe&Co</title>
    </head>
    <body>
        <header>
            <div class="menu">
                <a href="#" class="logo"><img src="Logo_icon_Vibe_Co.png" alt="Vibe&Co Logo"></a>
                <input type="checkbox" id="menu">
                <label for="menu">
                    <img src="menu.png" class="menu-icon" alt="Icono de menú">
                </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Lo Nuevo</a></li>
                    <li><a href="#">Hombres</a></li>
                    <li><a href="#">Mujeres</a></li>
                    <li><a href="#">Niños y Niñas</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </nav>
            <div>
                <ul>
                    <li class="submenu">
                        <img src="Carrito de compras.png" class="carrito-vacio" alt="Carrito de compras">
                        <div id="carrito">  
                            <table id="listaCarrito">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <a href="#" id="vaciarCarrito" class="btn2">Vaciar Carrito</a>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
            <section class="hero-image">
                <img src="Sky_Sunset.jpg" alt="Sky Sunset">
            </section>
        </header>
            <main class="productosContenedor" id="lista1">
                <h2>Productos Destacados</h2>
                <div class="productoContenido">
                    <div class="producto">
                        <img src="CamisaMangaLarga/VibeClubA.png" alt="Producto1">
                        <h3>Vibe Club</h3>
                        <p>Camisa Manga Larga</p>
                        <p class="precio">$59</p>
                        <a href="#" class="agregarAcarrito" data-id="1">Agregar al Carrito</a>
                    </div>

                    <div class="producto">
                        <img src="Camisas/NikeDriFitA.png" alt="Producto2">
                        <h3>Vibe DriFit</h3>
                        <p>Camisa</p>
                        <p class="precio">$49</p>
                        <a href="#" class="agregarAcarrito" data-id="2">Agregar al Carrito</a>
                    </div>

                    <div class="producto">
                        <img src="Sudaderas/VibeTechSudaderaA.png" alt="Producto1">
                        <h3>Vibe Tech</h3>
                        <p>Sudadera</p>
                        <p class="precio">$79</p>
                        <a href="#" class="agregarAcarrito" data-id="3">Agregar al Carrito</a>
                    </div>
                </div>
            </main>
    </body>
</html>