<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UFT-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="pruebaStyle" href="../style/pruebaStyle.css">
        <title>Vibe&Co</title>
    </head>
    <body>
        <header>
            <div class="menu">
                <a href="#" class="logo">logo</a>
                <input type="checkbox" id="menu">
                <label for="menu">
                    <img src="img/cuack.jpg" class="menuIcono">
                </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Lo Nuevo</a></li>
                    <li><a href="#">Hombres</a></li>
                    <li><a href="#">Mujeres</a></li>
                    <li><a href="#">Niños y Niñas</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </nav>
            <div>
                <ul>
                    <li class="submenu">
                        <img src="../sources/Carrito de compras.png" class="carrito">
                        <div id="carrito">  
                            <table id="listaCarrito">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <a href="#" id="vaciarCarrito" class="btn2">Vaciar Carrito</a>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </header>
    </body>
</html>