<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../sources/Logos/Logo_icon_Vibe_Co.png" type="image/png">
        <link rel="stylesheet" href="../style/style_main.css">
        <title>Vibe&Co</title>
    </head>
    <body>
        <header>
            <div class="menu">
                <a href="#" class="logo"><img src="../sources/Logos/Logo_icon_Vibe_Co.png" alt="Vibe&Co Logo"></a>
                <input type="checkbox" id="menu">
                <label for="menu">
                    <img src="../sources/icons/Menu.png" class="menu-icon" alt="Icono de menú">
                </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Lo Nuevo</a></li>
                    <li><a href="#">Hombres</a></li>
                    <li><a href="#">Mujeres</a></li>
                    <li><a href="#">Niños y Niñas</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </nav>
            <div>
                <ul>
                    <li class="submenu">
                        <img src="../sources/icons/Carrito de compras.png" class="carrito-vacio" alt="Carrito de compras">
                        <div id="carrito">  
                            <table id="listaCarrito">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <a href="#" id="vaciarCarrito" class="btn2">Vaciar Carrito</a>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </header>
        <main>
            <section class="hero-image">
                <img src="../sources/img/Sky_Sunset.jpg" alt="Sky Sunset">
            </section>
        </main>
    </body>
</html>