<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UFT-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../sources/Logos/Logo_icon_Vibe_Co.png" type="image/png">
        <title>Vibe&Co - Ofertas</title>
    </head>
    <body>
        <h1>Sección Ofertas</h1>
        <p>Bienvenido a la sección de ofertas. Aquí encontrarás las mejores promociones y descuentos en nuestras prendas.</p>
    </body>
    <footer>
        <p>&copy; 2026 Vibe&Co. Todos los derechos reservados.</p>
    </footer>
</html>